/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@500&display=swap');

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // background-color: #24252A;
}

body{
    height: 100%;
    scroll-behavior: smooth;
}
